<section>
  <div class="nessen-bg">
    <div class="nessen-center">
      <h1 id="nessen-title">NESSEN</h1>
      <nav>
        <a href="https://twitter.com/cinema4theblind" target="_blank">
          <img id="nessen-sc" src="http://www.iconsdb.com/icons/preview/white/soundcloud-5-xxl.png" />
        </a>
        <a href="https://www.facebook.com/CinemaForTheBlind/" target="_blank">
          <img id="nessen-fb" src="http://www.freeiconspng.com/uploads/images-facebook-f-logo-png-transparent-background-page-2-29.png" />
        </a>
        <a href="https://www.youtube.com/channel/UCP-AYOJqhOYPpV6RH-91yKw" target="_blank">
          <img id="nessen-yt" src="http://d2tbfnbweol72x.cloudfront.net/gleneagle/files/2017/03/YouTube_light_color_icon.png" />
        </a>
      </nav>
    </div>
    <div class="nessen-about">
      <div class="nessen-center">
        <p>
          NesseN is a 20-year-old EDM producer from Rouen, France who specializes in dubstep, electronica, breakbeat, glitch hop, and complextro. </br>
          "I make music to see people move."
        </p>
    </div>
  </div>
</section>
