#cerulean-title {
  font-family: "Acme", sans-serif;
  text-align: center;
  font-size: 84px;
  text-shadow: 2px 2px rgba(169, 169, 169, 0.5);
  margin-top: 170px;
  margin-bottom: 170px;
}

#about-title {
  font-family: "Acme", sans-serif;
  text-align: center;
  font-size: 32px;
}

#about-align {
  text-align: center;
}

#contact-btn {
  font-size: 18px;
  padding: 10px 15px;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
}

#cerulean-contact {
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

#contact-head {
  font-size: 32px;
  font-family: "Acme", sans-serif;
  text-align: center;
}

#short-message {
  width: 226px;
}

#wide-message {
  width: 462px;
}

.about-bg {
  color: #fff;
  display: flex;
  justify-content: center;
}

.about-box {
  max-width: 500px;
  background-color: #000;
  font-family: sans-serif;
  font-size: 18px;
  padding: 30px 50px 30px 50px;
  border-radius: 20px;
}
