<section>
  <div>
    <h1 id="cerulean-title">CERULEAN STORM</h1>
  </div>
  <div class="about-bg">
    <div class="about-box">
      <h1 id="about-title">ABOUT CERULEAN STORM</h1>
      <h4 id="about-align">An artistic paradise</h4>
      <p>
        Cerulean Storm is a content-sharing website created for artists, by artists. Our goal is to create a space where musical artists, fiction writers, and digital artists can share and promote their work. Cerulean Storm also allows artists to sell their works through the site to other people online. We offer a forum where artists of all backgrounds can share new ideas and promote a community.
      </p>
      <div id="about-align">
        <button id="contact-btn" type="button">Get in Touch</button>
      </div>
    </div>
  </div>
  <div class="cerulean-contact">
    <div class="contact-format">
      <h1 id="contact-head">CONTACT</h1>
      <h4>contact@ceruleanstorm.com</h4>
      <p>
        You can submit your music or art for review here. Please only submit your original work.
      </p>
      <div style="text-align: center">
        <button id="contact-submit-btn" type="button">Submit</button>
      </div>
    </div>
    <div class="message-cerulean">
      <div>
        <input id="short-message" ng-model="name" type="text" style="font-size:16px" placeholder="Name" />
        <input id="short-message" ng-model="email" type="text" style="font-size:16px" placeholder="Email" />
      </div>
      <div>
        <input id="wide-message" ng-model="subject" type="text" style="font-size:16px" placeholder="Subject" />
      </div>
      <div>
        <textarea id="widest-message" ng-model="message" type="text" style="font-size:16px" placeholder="Message"></textarea>
      </div>
      <div style="text-align: center">
        <button id="contact-send-btn" ng-click="sendEmail(name, email, subject, message)" type="button">Send</button>
      </div>
    </div>
  </div>
</section>
