h4 {
  text-align: center;
}

a {
  text-decoration: none;
}

#cerulean-title {
  font-family: "Acme", sans-serif;
  text-align: center;
  font-size: 84px;
  text-shadow: 2px 2px rgba(169, 169, 169, 0.5);
  margin-top: 170px;
  margin-bottom: 170px;
}

#about-title {
  font-family: "Acme", sans-serif;
  text-align: center;
  font-size: 32px;
}

#about-align {
  text-align: center;
}

#contact-btn {
  font-size: 18px;
  padding: 10px 15px;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
}

#contact-head {
  font-size: 32px;
  font-family: "Acme", sans-serif;
  text-align: center;
}

#short-message {
  width: 226px;
  height: 34px;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-bottom: 10px;
}

#wide-message {
  width: 462px;
  height: 34px;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-bottom: 10px;
}

#widest-message {
  width: 462px;
  height: 144px;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-bottom: 10px;
}

.about-bg {
  color: #fff;
  display: flex;
  justify-content: center;
}

.about-box {
  max-width: 500px;
  background-color: #000;
  font-family: sans-serif;
  font-size: 18px;
  padding: 30px 50px 30px 50px;
  border-radius: 20px;
}

.cerulean-contact {
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: center;
  margin: 50px 0px 20px;
  padding: 50px 0px;
  border-bottom: 1px solid #a9a9a9;
}

.cerulean-contact p {
  font-size: 20px;
}

.contact-format {
  max-width: 462px;
  padding-right: 20px;
}

.message-cerulean {
  padding: 20px;
}

.message-cerulean ::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
  padding-left: 5px;
}
