h4 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

#cerulean-title {
  font-family: "Acme", sans-serif;
  text-align: center;
  font-size: 84px;
  color: #b9ebff;
  text-shadow: #000 3px 3px 0, #000 2px -1px 0, #000 -1px 2px 0,
    #000 -1px -1px 0;
  -webkit-font-smoothing: antialiased;
  margin-top: 170px;
  margin-bottom: 170px;
}

#about-title {
  font-family: "Cabin", sans-serif;
  text-align: center;
  font-size: 32px;
}

#about-align {
  text-align: center;
}

#contact-btn {
  font-size: 18px;
  padding: 10px 15px;
  background-color: #dfdfdf;
  border: none;
  border-radius: 5px;
}

#contact-head {
  font-size: 32px;
  font-family: "Acme", sans-serif;
  text-align: center;
}

#contact-submit-btn {
  font-size: 16px;
  padding: 10px 40px;
  background-color: #dfdfdf;
  border: none;
  border-radius: 5px;
}

#short-message {
  width: 226px;
  height: 34px;
  background-color: #032f5a;
  color: #dfdfdf;
  border: 2px solid #dfdfdf;
  border-radius: 2px;
  margin-bottom: 10px;
}

#wide-message {
  width: 462px;
  height: 34px;
  background-color: #032f5a;
  color: #dfdfdf;
  border: 2px solid #dfdfdf;
  border-radius: 2px;
  margin-bottom: 10px;
}

#widest-message {
  width: 462px;
  height: 144px;
  background-color: #032f5a;
  color: #dfdfdf;
  border: 2px solid #dfdfdf;
  border-radius: 2px;
  margin-bottom: 10px;
}

#contact-send-btn {
  font-size: 16px;
  padding: 10px 40px;
  background-color: #dfdfdf;
  border: none;
  border-radius: 5px;
}

.about-bg {
  color: #f7f7f7;
  display: flex;
  justify-content: center;
}

.about-box {
  max-width: 500px;
  background-color: #032f5a;
  font-family: sans-serif;
  font-size: 18px;
  padding: 30px 50px 30px 50px;
  border-radius: 20px;
  border: 2px solid #000;
}

.about-box p {
  line-height: 1.5;
}

.cerulean-contact {
  color: #dfdfdf;
  background-color: #032f5a;
  display: flex;
  justify-content: center;
  margin: 100px 0px 20px;
  padding: 50px 0px;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
}

.cerulean-contact p {
  font-size: 20px;
}

.contact-format {
  max-width: 462px;
  padding-right: 20px;
}

.message-cerulean {
  padding: 20px;
}

.message-cerulean ::-webkit-input-placeholder {
  color: #dfdfdf;
  font-size: 16px;
  padding-left: 5px;
}
