#image-upload-button {
  font-size: 14px;
  background-color: #dfdfdf;
}

#image-submit-button {
  font-size: 14px;
  background-color: #dfdfdf;
}

#writing-title {
  color: #dfdfdf;
  text-shadow: #000 2px 2px 0, #000 2px -1px 0, #000 -1px 2px 0,
    #000 -1px -1px 0;
  -webkit-font-smoothing: antialiased;
}

.forum-box {
  margin: 0 auto;
  width: 980px;
  background-color: #0a8595;
  padding-bottom: 120px;
}

.forum-box h1 {
  margin-top: 0;
  padding-top: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  text-align: center;
}

.writing-selectors {
  display: flex;
  justify-content: flex-end;
}

.writing-selectors p {
  padding: 15px;
}

.writing-selectors p a {
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
}

.writing-selectors form {
  padding: 15px;
  margin: auto 0;
}

.forum-views {
  display: flex;
  justify-content: space-evenly;
  font-family: sans-serif;
  text-align: center;
}

.forum-views div {
  padding: 50px;
  margin: 0 40px;
  background-color: #dfdfdf;
  border: 1px solid #a9a9a9;
  border-radius: 3px;
}

.forum-views a {
  text-decoration: none;
  color: #000;
}
