<section>
  <div class="forum-box">
    <div class="writing-selectors">
      <p><a href="#">Search</a></p>
      <p><a href="#">Members</a></p>
      <form name="form">
        <img style="width:50px;height:50px" ngf-thumbnail="image">
        <button id="image-upload-button" name="image" ngf-select ng-model="image">Upload image</button>
        <button id="image-submit-button" ng-click="submit(image, user.authid)">Submit</button>
      </form>
    </div>
    <div id="writing-title">
      <h1>CERULEAN <br />FORUM</h1>
    </div>
    <div class="forum-views">
      <a ui-sref="home">
        <div>
          <h2>Welcome</h2>
          <p>undefined views | undefined posts</p>
          <p>Welcome new members! We hope you have a good stay!</p>
        </div>
      </a>
      <a ui-sref="forum">
        <div>
          <h2>Writing</h2>
          <p>undefined views | undefined posts</p>
          <p>Click here to read works written by and for content creators!</p>
        </div>
      </a>
    </div>
  </div>
</section>
