<section>
  <div class="music-megadiv">
    <div class="music-title">
      <h1>CERULEAN STORM <br /> MUSIC</h1>
    </div>
    <div class="music-views">
      <a ui-sref="cinema-for-the-blind">
        <div class="music-box">
          <img id="cinema4theblind" src="https://pbs.twimg.com/profile_images/829846830913581057/vaAg4dEc_400x400.jpg" />
          <h2>Cinema for the Blind</h2>
        </div>
      </a>
      <a ui-sref="nessen">
        <div class="music-box">
          <img id="nessen" src="https://i1.sndcdn.com/avatars-000247464236-2dx8yz-t500x500.jpg" />
          <h2>NesseN</h2>
        </div>
      </a>
    </div>
  </div>
</section>
