body {
  background-image: url("https://nebula.wsimg.com/6516da26b7ac3d5d0be0b0ad24bd7d1f?AccessKeyId=9D31EB17C2676763FE5A&disposition=0&alloworigin=1");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #032f5a;
  margin: 0;
}

ul {
  margin: 0 auto;
  max-width: 700px;
  list-style: none;
}

a:link li {
  color: #dfdfdf;
  text-decoration: none;
  border-top: 3px solid #b9ebff;
  border-bottom: 3px solid #b9ebff;
}

a:hover li {
  color: #000;
  transition: 0.5s;
  background-color: #b9ebff;
  border-radius: 1px;
}

a:visited li {
  color: #dfdfdf;
  text-decoration: none;
  border-top: 3px solid #b9ebff;
  border-bottom: 3px solid #b9ebff;
}

a:visited:hover li {
  color: #000;
  transition: 0.5s;
  background-color: #b9ebff;
  border-radius: 1px;
}

footer {
  text-align: center;
  background-color: #032f5a;
  color: #a9a9a9;
  padding-top: 30px;
}

#cerulean-nav {
  display: flex;
  padding: 20px 0px;
  justify-content: center;
  font-family: Helvetica;
}

#cerulean-nav li {
  min-width: 100px;
  padding: 20px 20px;
  text-align: center;
}

#soundcloud {
  width: auto;
  height: 55px;
  margin-bottom: -3px;
  padding-right: 3px;
}

#facebook {
  width: auto;
  height: 48px;
}

#twitter {
  width: auto;
  height: 48px;
  padding-left: 8px;
  padding-right: 8px;
}

#youtube {
  width: auto;
  height: 46px;
  border-radius: 2px;
}

#instagram {
  width: auto;
  height: 46px;
  border-radius: 2px;
  padding-left: 10px;
}

.nav-header {
  background-color: #032f5a;
}

.sub-footer {
  font-size: 12px;
  color: #6b6b6b;
  padding: 10px 0 20px 0;
}

.sub-footer button {
  color: #032f5a;
  background-color: #032f5a;
  border: none;
}
