<section>
  <div class="writers-block">
    <h1 id="forum-head">WRITING</h1>
    <p ng-if="user.authid">
      Browse here to read works written by and for content creators!
    </p>
    <p id="consideration-msg" ng-if="!user.authid">
      Consider <a id="login-link" href="/auth">becoming a member</a> to view works written by and for content creators here!
    </p>
    <p ng-if="user.authid">
      Welcome, {{user.username}}!
    </p>
  </div>
  <div class="writers-block" ng-if="user.authid">
    <div>
      <button type="button" ng-click="createPost(user.username, item)">Create new post</button>
      <textarea ng-model="item" type="text" placeholder="Write here..." /></textarea>
    </div>
  </div>
</section>
<div class="container">
  <div class="" ng-if="user.authid" ng-repeat="item in posts">
    <div class="forum-posts">
      <h1>{{item.user_name}}</h1>
      <p>
        {{item.written_text}}
      </p>
    </div>
  </div>
</div>
