.writers-block {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 980px;
  background-color: #032f5a;
  color: #fff;
}

.writers-block h1 {
  margin-top: 0;
  padding-top: 50px;
  font-family: "Acme", sans-serif;
  font-size: 72px;
  text-align: center;
}

.writers-block p {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 50px;
  max-width: 980px;
  background-color: #032f5a;
}

.forum-posts {
  padding: 0px 20px 20px 30px;
  margin-bottom: 50px;
  max-width: 390px;
  max-height: 260px;
  overflow: scroll;
  background-color: #fff;
}

.forum-posts h1 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}

.forum-posts p {
  font-family: Helvetica;
  line-height: 1.5;
}
