.writers-block {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 980px;
  background-color: #032f5a;
  color: #fff;
}

.writers-block h1 {
  margin-top: 0;
  padding-top: 50px;
  font-family: "Acme", sans-serif;
  font-size: 72px;
  text-align: center;
}

.writers-block p {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
}

.forum-posts {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 980px;
  background-color: #032f5a;
  color: #fff;
}

.forum-posts h1 {
  margin-top: 0;
}
