<section>
  <div class="writers-block">
    <h1>WRITING</h1>
    <p ng-if="user.authid">
      Browse here to read works written by and for content creators!
    </p>
    <p ng-if="!user.authid">
      Consider becoming a member to view works written by and for content creators here!
    </p>
    <p ng-if="user.authid">
      Welcome {{user.username}}!
    </p>
  </div>
  <div ng-if="user.authid">
    <button type="button" ng-click="createPost(user.username, item)">Submit Your Work Here!</button>
    <input ng-model="item" type="text" placeholder="Write here..." />
  </div>
</section>
<section class="forum-posts" ng-if="user.authid" ng-repeat="item in posts">
  <div>
    <h1>{{item.user}}</h1>
    <p>
      {{item.written_text}}
    </p>
  </div>
</section>
